{% extends "baseadmin.html.twig" %}

{% block body %}
    <p class="text-end">
        <a href="{{ path('admin.playlist.ajout') }}" class="btn btn-primary">
           Ajouter une nouvelle playlist
        </a>
    </p>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Playlist
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists  %}
                <tr>
                    <td>
                        <h5 class="text-primary">
                            {{ playlist.name }}
                        </h5>
                    </td>
                     <td>
                        <a href="{{ path('admin.playlist.edit', {id: playlist.id}) }}" class="btn btn-secondary">Éditer</a>
                        <a href="{{ path('admin.playlist.suppr', {id: playlist.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ playlist.name }} ?')">Supprimer</a>
                    </td>
                    
                </tr>
            {% endfor %}
            {% if app.request.get('error') %}
                <div class="alert alert-danger">
                   {{ app.request.get('error') }}
                </div>
            {% endif %}
        </tbody>
    </table>
    
{% endblock %}

