{% extends "baseadmin.html.twig" %}

{% block body %}
    <p class="text-end">
        <a href="{{ path('admin.formation.ajout') }}" class="btn btn-primary">
           Ajouter une nouvelle formation
        </a>
    </p>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Playlist
                </th>
                <th>
                    Date
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr>
                    <td>
                        <h5 class="text-primary">
                            {{ formation.title}}
                        </h5>
                    </td>
                    <td>
                        {% for categorie in formation.categories %}
                            {{ categorie.name }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        {{ formation.publishedatstring }}
                    </td>
                    <td>
                        <a href="{{ path('admin.formation.edit', {id: formation.id}) }}" class="btn btn-secondary">Éditer</a>
                        <a href="{{ path('admin.formation.suppr', {id: formation.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ formation.title }} ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
