{% block body %}
    <h1>Modifier la Playlist</h1>
    
    {{ form_start(formplaylist) }}
    
    <div class="row">
        <div class="col">
            {{ form_row(formplaylist.name) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <strong>Formations dans cette Playlist :</strong>
            <ul>
               {% for formation in playlistformations %}
                <div class="row mt-1">
                    <div class="col-md-auto">
                        {% if formation.miniature %}
                            <a href="{{ path('formations.showone', {id:formation.id}) }}">
                                <img src="{{ formation.miniature }}">
                            </a>
                        {% endif %}  
                    </div>
                    <div class="col d-flex align-items-center">
                        <a href="{{ path('formations.showone', {id:formation.id}) }}" 
                           class="link-secondary text-decoration-none">
                            {{ formation.title }}
                        </a>          
                    </div>
                </div>
                        <li>{{ formation.title }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
     <div class="row">
        <div class="col">
            {{ form_row(formplaylist.description) }}
        </div>
    </div>
    
    {{ form_end(formplaylist) }}
{% endblock %}
